In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#path = '/content/drive/MyDrive/ML eco practical 2'
train_set = '/content/drive/MyDrive/ML eco practical 2/cup98lrn.zip'

In [5]:
df = pd.read_csv(train_set, compression='zip')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df

       ODATEDW OSOURCE  TCODE STATE  ... MDMAUD_F MDMAUD_A CLUSTER2  GEOCODE2
0         8901     GRI      0    IL  ...        X        X     39.0         C
1         9401     BOA      1    CA  ...        X        X      1.0         A
2         9001     AMH      1    NC  ...        X        X     60.0         C
3         8701     BRY      0    CA  ...        X        X     41.0         C
4         8601              0    FL  ...        X        X     26.0         A
...        ...     ...    ...   ...  ...      ...      ...      ...       ...
95407     9601     ASE      1    AK  ...        X        X     12.0         C
95408     9601     DCD      1    TX  ...        X        X      2.0         A
95409     9501     MBC      1    MI  ...        X        X     34.0         B
95410     8601     PRV      0    CA  ...        X        X     11.0         A
95411     8801     MCC      2    NC  ...        1        C     12.0         C

[95412 rows x 481 columns]